:root {
    --font-normal: "Font-book";
    --font-bold: "Font-Bold";
    --font-light: "Font-Light";
    --font-Swiss-Condensed: "Font-Swiss-Condensed";
    --color-border: rgb(0, 0, 0, 0.078);
    --color-blue: #00cccc;
    --color-title: #333333;
    --color-red: #e90000;
    --color-text: #4d4d4e;
}
@media (max-width:1200px) {
    body {
        font-size: 14px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 14px;
        padding: 11px 25px;
    }
    .wrap-multimedia {
        max-width: 1230px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item .col-md-9{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item .col-md-9 .row .col-lg-4.col-md-6.col-sm-6{
        flex: 0 0 25%;
        max-width: 25%;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item .col-md-3{
        display: none;
    }
}
@media (max-width:1080px) {
    .wrap-header-main .wrap-header-right nav#nav ul li a {
        font-size: 14px;
        padding: 8px 20px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu>li.item-menu:not(:last-child)>a::after{
        display: none;
    }
    /*  */
    .wrap-box-list-orther{
        position: relative;
        overflow: hidden;
    }
    .wrap-box-list-orther>.row{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}
@media (max-width:1024px) {
    .wrap-header-main .wrap-header-right nav#nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 300px;
        background-color: var(--color-blue);
        z-index: 9;
        transition: all .3s;
        transform: translateX(-300px);
    }
    .wrap-header-main .wrap-header-right nav#nav ul{
        flex-direction: column;
        padding-top: 50px;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrap-header-main .wrap-header-right nav#nav>ul{
        height: 100%;
        overflow: scroll;
        padding-bottom: 80px;
    }
    .wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child {
        left: 0;
        right: auto;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li{
        width: 100%;
        border-bottom: 1px solid #fff;
    }
    .wrap-header-main .wrap-header-right nav#nav ul li a{color: #FFF;}
    .wrap-header-main .wrap-header-right nav#nav ul li ul ul li a{
        font-size: 13px;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
        color: #fff;
        width: 37px;
        height: 37px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        background-color: transparent;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu.active{
        transform: rotate(-90deg);
        transition: all .3s;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: none;
        top: 0;
        padding-top: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
        display: none;
        transition: none;
        background-color: transparent;
        min-width: 100%;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
        left: 0;
    }
    .wrap-header-main .wrap-header-right nav#nav ul.menu-child  li:last-child{
        border: none;
    }
    .wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
        transition: none;
    }
    header#header a {
        color: var(--color-main);
    }
    .wrap-header-main .wrap-header-right nav#nav.active{
        transform: translateX(0);
    }
    
    main#main.active-menu,
    footer#footer.active-menu{
        transform: translateX(300px);
        transition: all .3s;
    }
    body.overlay{
        position: relative;
        overflow: hidden;
    }
    body.overlay:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: #0000008a;
        z-index: 9;
    }
    /*  */
    header#header .wrap-icon-toggle{
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#header span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-blue);
        transition: all .3s;
        margin-left: 0;
    }
    header#header .wrap-icon-toggle span:before,
    header#header .wrap-icon-toggle span:after{
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: var(--color-blue);
        left: 0;
        transition: all .3s;
        border-radius: 2px;
    }
    header#header nav .wrap-icon-toggle span,
    header#header nav .wrap-icon-toggle span:before,
    header#header nav .wrap-icon-toggle span:after{
        background-color: #FFF;
    }
    header#header nav .wrap-icon-toggle{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    header#header nav span:after{
        bottom: 4PX;
    }
    header#header span:before{
        top: 4px;
    }
    header#header span:after{
        bottom: 5px;
    }
    header#header .wrap-icon-toggle.active span{
        background-color: transparent;
        transition: all .3s;
    }
    header#header .wrap-icon-toggle.active span:before{
        transform: rotate(45deg);
        top: 12px;
        transition: all .3s;
    }
    header#header .wrap-icon-toggle.active span:after{
        transform: rotate(-45deg);
        bottom: 11px;
        transition: all .3s;
    }

    /*  */
    .list-blog-top-hot .col-lg-8,
    .list-video-educa .row .wrap-item-blog-hot,
    .list-video-educa .row .wrap-list-right-item,
    .list-blog-top-hot .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-video-educa .row .wrap-list-right-item{
        margin-top: 20px;
    }
    .list-video-educa .container{padding-left: 15px;
        padding-right: 15px; max-width: 1230px;}
    .list-video-educa .row{margin-left: -15px; margin-right: -15px;}
    .list-video-educa .row [class*="col-"]{padding-left: 15px; padding-right: 15px;}        
    .list-video-educa {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title-blog-hot {margin-top: 20px;}
    .title-blog-hot a,
    .title-page a,
    .wrap-title .title a{
        font-size: 22px;
    }
    .item-box-libary .title a,
    .item-blog-main .title a {
        font-size: 14px;
    }
    .item-angle .content .description-less {
        font-size: 15px;
    }
    .item-box-libary.big .title a {
        font-size: 16px;
    }
    #multimedia {
        padding-bottom: 40px;
    }
    .box-logo-footer{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .box-item-footer {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .item-blog-hot .title a {
        font-size: 18px;
    }
    .title-page-main .title {
        font-size: 18px;
        padding: 15px 20px 10px;

    }
    .tab-control-contact .number-year {
        font-size: 26px;
    }
    .tab-control-contact .title-history {
        font-size: 14px;
    }
    .wrap-content-contact-history .content-history .content {
        font-size: 14px;
    }
    .wrap-title-page .title{
        height: 47px;
    }
    .title-page-main {
        margin-top: -47px;
    }
    #banner-page-main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .wrap-content-contact-history .content-history .number-year {
        font-size: 18px;

    }
    .wrap-content-contact-history {
        margin-top: 25px;
    }
    .title-page.title-contact a {
        font-size: 26px;
    }
    .item-blog-main.big .title a {
        font-size: 20px;
    }

}
@media (max-width:991px) {
    .tab-control-contact .number-year {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .tab-control-contact .title-history{
        margin-bottom: 20px;
        font-size: 13px;
    }
    .wrap-content-contact-history{
        flex-direction: column;
    }
    .wrap-content-contact-history>div.box-image,
    .wrap-content-contact-history>div.content-history{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-content-contact-history .box-image img{
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .description-detail-pro .box-image {
        width: 240px;
        min-width: 240px;
        height: 240px;
        margin-right: 30px;
    }
    .description-detail-pro .contents .content-detail {
        margin-top: 20px;
    }
    .description-detail-pro .contents .name {
        font-size: 20px;
    }
    .description-detail-pro .contents {
        font-size: 14px;
    }
    .title-page .content {
        font-size: 16px;
        margin-top: 10px;
    }
    .title-page.title-contact a {
        font-size: 24px;
    }
    .wrap-vision-box>div.text-content .content-item-vision {
        font-size: 16px;
    }
    .wrap-industry>.row>[class*="col-"]{
        border: none;
        margin-bottom: 30px;
    }
    .wrap-industry>.row .item-industry{
        border: 1px solid var(--color-blue);
    }
    .wrap-video-youtube iframe{width: 100%;}
    #wrap-banner-list-two .row.wrap-list-blog-item .col-md-9 .row .col-lg-4.col-md-6.col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width:768px) {
    #banner-page-main{
        padding-top: 25px;
    }
    .tab-control-contact{flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center;}
    .tab-control-contact.nav-tabs .nav-item{
        width: max-content;
    }
    .tab-control-contact .title-history {
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 14px;
    }
    .description-detail-pro .box-image{
        margin-right: 0;
        margin-top: 20px;
    }
    .description-detail-pro {
        flex-direction: column;
    }
    .description-detail-pro .contents{
        text-align: center;
        margin-top: 15px;
    }
    .description-detail-pro .contents .content-detail{
        border:none
    }
    .list-item-member .item .contents {
        font-size: 14px;
    }
    .list-item-member .item .contents .name {
        font-size: 17px;
    }
    .description-detail-pro .box-image {
        width: 280px;
        min-width: 280px;
        height: 280px;
    }
    .title-page.title-contact a {
        font-size: 20px;
    }
    .wrap-title-page .title{
        height: 44px;
    }
    .title-page-main {
        margin-top: -44px;
    }
    .title-page-main .title {
        font-size: 16px;
    }
    .get-date-left{display: none;}
    .wrap-vision-box>div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-vision-box>div:first-child{order: 2;}
    .wrap-vision-box>div:nth-child(2){order: 1;}
    .wrap-vision-box>div:nth-child(3){order: 3;}
    .wrap-vision-box>div:nth-child(4){order: 4;}
    .wrap-vision-box>div:nth-child(5){order: 6;}
    .wrap-vision-box>div:nth-child(6){order: 5;}
    .wrap-vision-box>div:nth-child(7){order: 7;}
    .wrap-vision-box>div:nth-child(8){order: 8;}
    .wrap-vision-box>div.text-content{
        padding: 50px 20px;
    }
    .wrap-content-main-contact-vision {
        font-size: 15px;
        padding: 50px 25px 35px;
    }
    .title-blog-hot a, .title-page a, .wrap-title .title a {
        font-size: 18px;
    }
    .item-blog-main.big .title a {
        font-size: 18px;
    }
    .list-blog-1{
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;
        margin-left:-15px;
        margin-right: -15px;
    }
    .list-blog-1 .item-blog-2{
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 0 15px;
        flex-direction: column;
    }
    .item-blog-2 .box-image {
        width: 100%;
        min-width: 100%;
    }
    .list-blog-1 .item-blog-2:first-child{padding-top: 20px;}
    .item-blog-2 .content-blog{margin-left: 0; margin-top: 10px;}
    .item-blog-2 .content-blog .title {
        font-size: 15px;
    }
    .item-blog-2 .content-blog .title a{
        min-height: 40px;
    }
    .content-blog .date-post{margin-bottom: 10px;}
    .box-tabs-list a {
        padding: 15px 12px 11px;
        min-width: max-content;
    }
    .box-tabs-list{overflow: scroll; justify-content: flex-start;}
    .wrap-video-youtube iframe {
        height: 420px;
    }
    .item-tool {
        flex-direction: column;
    }
    .item-tool .box-image {
        min-width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 0;
    }
    .box-content-tool{margin-top: 10px;}
    .item-tool .box-content-tool .title a {
        margin-bottom: 10px;
    }
    .box-logo-footer {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-item-footer {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .banner-angle>.container>.row{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .banner-angle>.container>.row .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .banner-item.banner-angle .container{
        position: relative;
    }
    .banner-angle>.container>.row .col-md-4 .item-angle{
        padding: 0 20px;
    }
    .wrap-title{
        /* flex-direction: column; */
        align-items: flex-start;
    justify-content: space-between;
    position: relative;
    }
    /* .wrap-title>div.d-flex{order: 2;} */
    .wrap-title .form-search-tool{
        margin-bottom: 10px;
        order: 1;
        max-width: 100%;
    }
    .wrap-title .more{
        position: absolute;
        top: 3px;
        right: 0
    }
    .title-page-main {
        margin-top: 0;
    }
}
@media (max-width:576px) {
    #banner-main img{min-height: 140px;}
    .title-page.title-contact a {
        font-size: 18px;
    }
    .title-blog-hot a, .title-page a, .wrap-title .title a {
        font-size: 17px;
    }
    .wrap-vision-box>div.text-content .content-item-vision {
        font-size: 14px;
    }
    .wrap-content-main-contact-vision {
        font-size: 15px;
        padding: 35px 15px 25px;
    }
    .item-blog-main.item-prize .title a {
        font-size: 15px;
    }
    .wrap-industry>.row>[class*="col-"]{
        margin-bottom: 20px;
    }
    .title-page-main .title {
        font-size: 14px;
        padding: 15px 10px 10px;
    }
    .wrap-login .box-550 .login-main {
        background-size: cover;
        padding: 23px 25px 25px;
    }
    .wrap-login .box-550 .login-main {
        border-bottom-right-radius: 40px;
        border-top-left-radius: 70px;
    }
    .wrap-login.wrap-content-modal .box-550 .wrap-form .notyfi {
        font-size: 13px;
    }
    .wrap-content-modal.modal-content .close{
        background-color: var(--color-blue);
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding-right: 2px;
    padding-bottom: 1px;
    right: 10px;
    }
    .wrap-login .box-550 .wrap-form .title {
        font-size: 16px;
    }
    .wrap-account {
        flex-direction: column;
    }
    .wrap-account .box-image-left{
        margin: 0 0 25px;
    }
    .wrap-form .btn-login{font-size: 16px; margin-top: 15px;}
    .item-blog-main.big .title a {
        font-size: 16px;
    }
    .item-blog-main.big .content {
        font-size: 14px;
    }
    .list-blog-1 .item-blog-2{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-blog-1{margin-left: 0;margin-right: 0;}
    .list-blog-1 .item-blog-2{margin: 0;}
    .box-comment-main {
        padding: 15px 20px 20px;
    }
    .box-list-comment .item-comment {
        font-size: 14px;
    }
    .box-comment-main .wrap-form .wrap-button .ex {
        font-size: 13px;
        margin-left: 0;
        margin-top: 15px;
    }
    .wrap-comments .title-comments .font-bold {
        font-size: 18px;
    }
    .wrap-share{flex-direction: column;}
    .wrap-share ul li{margin-bottom: 5px;}
    .wrap-box-list-orther .box-title-section .title-section {
        font-size: 20px;
    }
    .box-comment-main .wrap-form .wrap-button {
        align-items: flex-start;
        flex-direction: column;
    }
    .view-count{padding: 5px 0;}
    .wrap-video-youtube iframe {
        height: 300px;
    }
    .item-tool .box-content-tool .title a{min-height: auto;}
    section#page-404 .title-page-404 {
        font-size: 22px;
    }
    section#page-404 p {
        font-size: 16px;
    }
    section#page-404 .wrap-button {
        flex-direction: column;
    }
    section#page-404 .wrap-button .btn{margin: 10px 0; min-width: 250px;}
    .box-item-footer {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        transition: all .3s;
    }
    .box-item-footer .icon-dropdown{
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFF;
        position: absolute;
        top: 11px;
        right: 20px;
    }
    .box-item-footer .icon-dropdown::before{
        content: "";
        width: 12px;
        background: #FFF;
        height: 1px;
        display: block;
    }
    .box-item-footer .icon-dropdown::after{
        content: "";
        width: 12px;
        background: #FFF;
        height: 1px;
        display: block;
        transform: rotate(90deg);
        position: absolute;
    }
    .box-item-footer>a{
        display: none;
        transition: all .3s;
    }
    .box-item-footer.active{
        transition: all .3s;
    }
    .box-item-footer.active>a{
        transition: all .3s;
        display: block;
    }
    .footer-first{flex-direction: column; align-items: flex-start; padding: 10px 0;}
    .footer-first ul{margin: 5px 0;}
    .account-header{font-size: 13px;}
    .wrap-title ul a {
        margin-left: 30px;
        font-size: 14px;
    }
    .wrap-title{align-items: flex-start;}
    .wrap-title>.d-flex.align-items-end{
        flex-direction: column;
        align-items: flex-start!important;
    }
    .wrap-title ul{margin-top: 10px;}
    .wrap-title ul li:first-child a{
        margin-left: 0;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item .col-md-9 .row .col-lg-4.col-md-6.col-sm-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-login{padding: 0 15px;}
    .wrap-login .box-550 .wrap-form .form-check {
        font-size: 16px;
    }
    .wrap-login .box-550 .wrap-form .title-form {
        padding-bottom: 10px;
    }
    .wrap-form .form-group {
        margin-bottom: 15px;
    }

    .wrap-box-list-orther>.row [class*="col-"]{
        flex:  0 0 100%;
        max-width: 100%;
    }
    .row.wrap-list-video, #wrap-banner-list-two .row.wrap-list-blog-item .row,
    .banner-community .row{
        flex-wrap: nowrap;
        overflow-x: scroll;
        position: relative;
    }
    .row.wrap-list-video .row{
        flex-wrap: nowrap;
    }
    .row.wrap-list-video [class*="col-"],
    #wrap-banner-list-two .row.wrap-list-blog-item .row,
    .banner-community .row [class*="col-"]{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item{
        position: relative;
    }
    #multimedia .wrap-multimedia, 
    .banner-community .container{
        position: relative;
    }
    .banner-community .container .row,
    #multimedia .wrap-multimedia .wrap-list-video{
        position: initial;
    }
    #multimedia .wrap-multimedia .wrap-list-video .wrap-icon-control{
        top: 50%;
        transform: 50%;
    }
    #wrap-banner-list-two .row.wrap-list-blog-item .row{
        position: initial;
        flex: unset;
        max-width: initial;
        width: auto;
        flex-wrap: unset;
    }
    #blog-top {
        padding: 30px 0;
    }
    .item-blog-hot .title{
        padding-left: 15px;
        padding-right: 15px;
    }
    .item-blog-hot .title a {
        font-size: 16px;
    }
} 
@media (max-width:428px) {
    .title-page-main .title {
        font-size: 13px;
        padding: 13px 8px 8px;
    }
    .box-list-comment .item-comment .title{
        flex-direction: column;
        align-items: flex-start;
    }
    .box-comment-main {
        padding: 15px;
    }
    .wrap-video-youtube iframe {
        height: 220px;
    }
}
@media (max-width:320px) {}