@font-face {
    font-family: Font-book;
    src: url("./fonts/ICIELGOTHAM-BOOK.TTF") format("truetype");
}

@font-face {
    font-family: Font-Bold;
    src: url("./fonts/ICIELGOTHAM-BOLD.TTF") format("truetype");
}

@font-face {
    font-family: Font-Swiss-Condensed;
    src: url("./fonts/UTM-SWISS-BLACK-CONDENSED.TTF") format("truetype");
}

:root {
    --font-normal: "Font-book";
    --font-bold: "Font-Bold";
    --font-light: "Font-Light";
    --font-Swiss-Condensed: "Font-Swiss-Condensed";
    --color-border: rgb(0, 0, 0, 0.078);
    --color-blue: #00cccc;
    --color-title: #333333;
    --color-red: #e90000;
    --color-text: #4d4d4e;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 0px;
}

a {
    color: var(--color-text);
    transition: all 0.4s ease 0s;
    display: inline-block;
}
strong *,
strong{
    font-family: var(--font-bold);
}

a:hover {
    text-decoration: none;
    color: var(--color-blue);
    transition: all 0.4s ease 0s;
}

a:hover *:not(p, .view-count span) {
    color: var(--color-blue);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    color: var(--color-text);
    font-size: 14px;
    line-height: 1.5;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
    color: var(--color-blue)!important;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

main.overflow {
    overflow-x: hidden;
}

.owl-carousel.owl-drag .owl-item {
    line-height: 0;
}
.border-none{border:none!important}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

select.form-control{
    width: 100%;
    background-image: url(../images/icon-select.png)!important;
    background-repeat: no-repeat!important;
    background-position-x: calc(100% - 15px)!important;
    background-position-y: 15px!important;
    background-size: auto!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    padding-right: 30px;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col"] {
    padding-left: 15px;
    padding-right: 15px;
}

.font-bold {
    font-family: var(--font-bold);
}


.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--text-main);
}

.bg-gray {
    background-color: var(--background-gray-main);
}

.color-gray {
    color: var(--color-text);
}

.bg-color-main {
    background-color: var(--color-main)
}

.color-main *,
.color-main {
    color: var(--color-blue) !important
}

body.overflow {
    overflow: hidden;
}

.line-camp-2, .line-camp-2 *{
    -webkit-line-clamp: 2!important;
}
.line-camp-3, .line-camp-3 *{
    -webkit-line-clamp: 3!important;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
    min-width: max-content;
}

/* hover image  */

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.hover-image, .box-image{
    position: relative;
    overflow: hidden;
}
.hover-image::before, .box-image:before{
    position: absolute;
	top: 0;
	left: -93%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover-image:hover::before, .box-image:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}
.box-image>a{width: 100%; height: 100%;}
.box-image>a>img{width: 100%; height: 100%;}

.box-655{
    width: 100%;
    max-width: 655px;
    margin: 0 auto;
}

/* pagination  */
.paging {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.paging a {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(205, 205, 205);
    transition: all .4s;
    margin: 0 3px;
    line-height: 1;
    padding-top: 1px;
}
.paging a.dau,
.paging a.truoc,
.paging a.sau,
.paging a.cuoi{
    font-size: 0;
    position: relative;
}
.paging a.dau:before,
.paging a.truoc:before,
.paging a.sau:before,
.paging a.cuoi:before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 50%;
    display: block;
    font-size: 16px;
    transform: translateY(-50%);
    line-height: 1;
    margin-top: 1px;
}
.paging a.dau:before{
    content: "\f100";
}
.paging a.truoc:before{
    content: "\f104";
}
.paging a.sau:before{
    content: "\f105";
}
.paging a.cuoi:before{
    content: "\f101";
}

.paging i {
    margin-bottom: -4px;
}

.paging a:hover,
.paging a:hover i,
.paging a.hientai {
    background-color: var(--color-blue);
    color: #FFF!important;
    border-color: var(--color-blue)
}
/*  */
.border-radius-5 img{border-radius: 5px;}
.bg-none{background: none!important;}
/*  */
.wrap-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(231 231 231 / 70%);
    border-bottom: 1px solid rgb(231 231 231 / 70%);
    margin-top: 35px;
    margin-bottom: 20px;
}

.wrap-share ul {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    justify-content: center;
}

.wrap-share ul li {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.wrap-share .right ul li:first-child{
    margin-right: -10px;
}
.wrap-share .left li a {
    background-color: #F2F2F2;
    color: #b2b2b2;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    transition: all .4s;
    font-family: var(--font-Myriadpro);
}

.wrap-share li i {
    color: #b2b2b2;
    margin-right: 5px;
    transition: all .4s;
}

.wrap-share .left li a:hover {
    background-color: var(--color-blue);
    color: #FFF;
}

.wrap-share .left li a:hover i {
    color: #FFF;
}
.view-header{
    margin-top: 0;
}


.view-count {
    display: flex;
    align-items: center;
}

.view-count div {
    display: flex;
    align-items: center;
}

.view-count div:first-child {
    margin-right: 20px;
}

.view-count div img {
    width: auto !important;
    max-width: max-content;
    height: max-content!important;
}

.view-count div span {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    font-family: var(--font-Myriadpro)!important;
    color: #b4b4b4;
    line-height: 1;
    margin-bottom: -5px;
}
.cover-size{
    padding: 8px 0;
    color: #707070;
}
.cover-size span:first-child{
    cursor: pointer;
    font-size: 14px;
}
.cover-size .cover{
    background:#f6f6f6;
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transition: all .4s;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
}
.cover-size .cover:hover{
    background-color: var(--color-red);
}
.cover-size .cover:hover i{
    color: #FFF;
}
.cover-size .cover i{
    color: #999999;
    line-height: 1;
    padding-top: 3px;
}

/*  */


/* header */
/* header#header{} */
 header .header-top{background-color: var(--color-blue);color: #FFF; padding: 7px 0;}
 header .header-top .container{display: flex; align-items: center; justify-content: space-between;}
.get-date-left{display: flex;align-items: center;}
.get-date-left .date{padding-left: 10px;}
.account-header{display: flex;align-items: center; cursor: pointer;}
.account-header .image{display: flex;align-items: center; margin-right: 5px;}
.account-header .image img{margin-right: 5px;min-width: 26px; width: 26px;
    height: 26px;
    border-radius: 100%;}
.dropdown-menu{left: auto!important;
right: 0!important;}
header#header>.wrap-menu-main{
    transition: all .3s;
    position: relative;
    z-index: 10;
}
header#header.active>.wrap-menu-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    transition: all .3s;
}
/* footer  */
footer{
    background-color: rgb(0, 204, 204);
    padding-bottom: 35px;
}  
.footer-first{display: flex;align-items: center; justify-content: space-between;}
.footer-first ul{display: flex;align-items: center; color: #fff;}
.footer-first ul a{color: #FFF;}
.footer-first ul a:hover{color: var(--color-red);}
.footer-first ul.contact-left li:not(:last-child){padding-right: 25px;}
.footer-first ul.social-right li:not(:last-child){padding-right: 20px;}
.footer-first{
    padding: 22.5px 0;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.wrap-footer-main{
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 28px;
}
.box-logo-footer{
    font-size: 13px; color: #FFF;
    flex: 0 0 28%;
    max-width: 28%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-logo-footer .copyright{
    margin-bottom: 5px;
    margin-top: 20px;
}
.box-item-footer{
    flex: 0 0 14.4%;
    max-width: 14.4%;
    padding: 0 10px;
}
.box-item-footer .title-footer a{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box-item-footer .title-footer a:hover{color: var(--color-red)!important;}
.box-item-footer a{
    font-size: 15px;color: #FFF;
    display: block;
    margin-bottom: 5px;
}
.box-item-footer a:hover{color: var(--color-red)!important;}
  
/* end footer  */

/* menu  */
/*  */

.wrap-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 0;
    transition: all .4s;
}
.wrap-header-main .logo{
    transition: all .3s;
    line-height: 1;
}

.wrap-header-main .wrap-header-right {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul {
    display: flex;
    align-items: center;
}

.wrap-header-main .wrap-header-right nav#nav ul li a {
    font-size: 15px;
    font-family: var(--font-bold);
    text-transform: uppercase;
    padding: 11px 30px;
    color: var(--color-title);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu>li.item-menu:not(:last-child)>a::after{
    content: url(../images/icon-arrow-menu-bg.png);
    position: absolute;
    top: 0;
    right: -11px;

}

.wrap-header-main .wrap-header-right nav#nav ul li a:hover {
    color: var(--color-blue);
}


.wrap-header-main .wrap-header-right nav#nav ul.menu li{
    position: relative;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu li .icon-arrow-menu{
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    display: none
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child{
    position: absolute;
    top:100%;
    left: 0;
    min-width: 300px;
    display: block;
    background: #FFF;
    border-radius: 4px;
    border:1px solid #E1DEDE;
    transition: all .3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li:not(:last-child){
    border-bottom:1px solid #E1DEDE;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-bold);
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child .menu-child{
    left: 100%;
    top: 0;
}
.wrap-header-main .wrap-header-right nav#nav .item-menu:nth-last-child(2) ul.menu-child .menu-child{
 left: auto;
 right: 100%;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-header-main .wrap-header-right nav#nav ul.menu-child li .icon-arrow-menu i{
    color: var(--color-blue);
}
.wrap-header-main .wrap-header-right nav#nav li:hover>ul.menu-child{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

.wrap-header-main .wrap-header-right nav#nav ul.menu .item-menu:last-child>a{padding-right: 0;}


/* custom slide  */
.modal-dialog {
    max-width: 990px;
    padding: 0 15px;
    margin-top: 120px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-content .close{
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    text-align: right;
}

.owl-theme .owl-dots{
    display: none;
}
.owl-theme .owl-nav{
    margin: 0;
    height: 0;
}
.owl-carousel .owl-nav button{
    margin: 0;
}
.owl-carousel .owl-nav button span{
    display: none;
}
.owl-carousel .owl-nav button.owl-next::before,
.owl-carousel .owl-nav button.owl-prev::before{
    position: absolute;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev::before{
    content: url(../images/arrow-left.png);
    left: 60px;
}
.owl-carousel .owl-nav button.owl-next::before{
    content: url(../images/arrow-right.png);
    right: 60px;
}
/*  */

/* banner-main */
#banner-main{
    position: relative;
}
#banner-main .item{display: block; width: 100%;}
#banner-main a{width: 100%; display: block;}
#banner-main img{width: 100%; display: block;}

/*  */

.list-blog-top-hot .col-lg-8{
    flex: 0 0 65.04065040650407%;
    max-width: 65.04065040650407%;
}
.list-blog-top-hot .col-lg-4{
    flex: 0 0 34.95934959349593%;
    max-width: 34.95934959349593%;
}
.item-blog-hot{position: relative;}
.item-blog-hot .title{
    background: linear-gradient(to top, rgba(0,0,0,0.85882), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px 15px;
}
.item-blog-hot .title a{
    color: #FFF;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#blog-top{padding: 60px 0;}

/*  */
.item-blog-small-1 {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-border);
}

.wrap-blog .item-blog-small-1:first-child {
    padding-top: 0;
}


.item-blog-small-1 .box-image {
    margin-right: 10px;
    min-width: 90px;
    width: 90px;
}

.item-blog-small-1 .title-blog{margin-top: -5px;}
.item-blog-small-1 .title-blog a {
    font-size: 15px;
    line-height: 1.467;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item-blog-small-1 .content{position: relative;}
.number-count{display: flex;align-items: center; position: absolute;left: 0;}
.number-count img{min-width: max-content;max-width: max-content; margin-right: 5px;}
.number-count .number{font-size: 13px;}
.title-blog-hot{
    padding-bottom: 10px;
}
.title-blog-hot a{
    font-family: var(--font-Swiss-Condensed);
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-red);
    position: relative;
    padding-left: 20px;
    line-height: 1;
    margin-top: -5px;
}
.title-blog-hot a:hover{color: var(--color-blue);}
.title-blog-hot a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 3px;
    height: 16px;
    background-color: var(--color-red);
    transform: rotate(15deg) translateY(-50%);
    margin-top: 2px;
}

/*  */
.wrap-title{display: flex;align-items: flex-end; justify-content: space-between; padding-bottom: 15px;}
.wrap-title ul{display: flex; align-items: center;}
.wrap-title ul a{
    display: flex;
    align-items: center;font-size: 15px;
    font-family: var(--font-bold);
    color: #FFF;
    font-size: 15px;
    margin-left: 40px;
}
.wrap-title ul a:hover{color: var(--color-red)!important;}
.wrap-title ul a img{margin-right: 5px;}
.wrap-title .more a{
    color: #FFF;
    font-size: 14px;
    
}
.wrap-title .more a:hover{color:var(--color-red)!important}
.wrap-title .title{position: relative; line-height: 1; font-size: 26px;}
.wrap-title .title a{
    font-size: 26px;
    color: var(--color-title);
    text-transform: uppercase;
    font-family: var(--font-Swiss-Condensed);
    font-weight: 700;padding-left: 12px;
    line-height: 1;
    position: relative;
}
.wrap-title .title a::before{
    content: "";
    width: 3px;
    background: var(--color-blue);
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 2px;
}
.wrap-title .title a:hover{
    color: var(--color-blue)!important;
}
.wrap-title .title a:hover::before{
    background: var(--color-blue);
}
.wrap-multimedia{background-color: var(--color-blue); color: #FFF;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

/*  */

.box-image-libary-image{
    position: relative;
}
.box-image-libary-image .icon-child{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: block;
    line-height: 1;
}
.box-image-libary-image.big .icon-child{
    left: 10px;
    bottom: 10px;
}
.box-image-libary-image .icon-child img{
    max-width: max-content;
}
.item-box-libary .title{margin: 10px 0 6px}
.item-box-libary .title a{
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--color-title);
    min-height: 45px;
}
.item-box-libary.big .title a{
    font-size: 18px;
}
#multimedia .item-box-libary .title a{color: #FFF;}
#multimedia .item-box-libary .title a:hover{
    color: var(--color-red)!important;
}
/*  */
#multimedia{padding-bottom: 60px;}
#multimedia .wrap-title .title a{ color: #FFF;}
#multimedia .wrap-title .title a::before{background-color: #fff;}
#multimedia .wrap-title .title a:hover{
    color: var(--color-red)!important;
}
#multimedia .wrap-title .title a:hover::before{
    background: var(--color-red);
}
/* .wrap-list-video{margin-top: 15px;} */

/*  */
.item-blog-main{margin-bottom: 30px;}
.item-blog-main .title{margin-top: 10px;}
.item-blog-main .title a {
font-size: 15px;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
display: -webkit-box;
-webkit-box-orient: vertical;
}

.wrap-list-blog-item{margin-bottom: 20px;}


#wrap-banner-list-two{padding-bottom: 35px;}
  
/* title-page */
.title-page{
    position: relative;
}
.title-page a{
    position: relative;
    color: var(--color-title);
    font-size: 26px;
    font-family: var(--font-Swiss-Condensed);
    text-transform: uppercase;
    padding-bottom: 20px;
}
.title-page a:hover{color: var(--color-blue);}
.title-page a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-blue);
}.title-page .content{
    font-size: 18px;
    margin-top: 15px;
}
/*  */
.banner-angle{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}
.banner-angle .title-page{
    margin-bottom: 55px;
}
/*  */
.banner-angle>.container>.row{
    background: url(../images/icon-a1.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size: contain;
}
.item-angle{
    text-align: center;
    margin-bottom: 30px;
}
.item-angle .img{
    min-height: 210px;
    margin-bottom: 25px;
}
.item-angle .content .title{margin-bottom: 10px;}
.item-angle .content .title a{
    font-size: 18px;
    color: var(--color-title);
}
.item-angle .content .description-less{
    font-size: 16px;
    width: 100%;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
display: -webkit-box;
-webkit-box-orient: vertical;
}

/*  */
.banner-community{background-color: var(--color-blue);
padding: 60px 0;}
.banner-community .title-page{padding-bottom: 30px;}
.banner-community .title-page a{color: #FFF;}
.banner-community .title-page a:hover{color:var(--color-red)}
.banner-community .title-page a::before{background-color: #FFF}

.item-blog-community{position: relative; margin-bottom: 30px;}
.item-blog-community .title{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.85882), transparent);
    padding: 10px 15px 5px;
}
.item-blog-community .title a{
    font-size: 15px;
    color: #FFF;
    font-family: var(--font-bold);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    min-height: 45px;
}
.item-blog-community .title a::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-blue);
}

/*  */
.list-video-educa{
    padding-top: 70px;
    padding-bottom: 95px;
    background-image: -moz-linear-gradient( 0deg, rgb(2 91 148 / 10%) 0%, rgb(32 190 198 / 10%) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(2 91 148 / 10%) 0%, rgb(32 190 198 / 10%) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(2 91 148 / 10%) 0%, rgb(32 190 198 / 10%) 100%);
}
.list-video-educa .title-page{margin-bottom: 25px;}

.item-libary-main-hot{position: relative;}
.item-libary-main-hot .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.item-libary-main-hot .content.big{
    padding: 10px 13px 13px;
}
.item-libary-main-hot .content .image{
    min-width: max-content;
    margin-right: 10px;
}
.item-libary-main-hot .content{
    background: linear-gradient(to top, rgba(0,0,0,0.85882), transparent);
}
.item-libary-main-hot .content .image img{margin: 0;}
.item-libary-main-hot .content .title{
    line-height: 1;
    font-size: 16px;
    margin: 0;
}
.item-libary-main-hot .content .title a{
    color: #FFF;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
}

.list-libary-main-item .title{font-size: 18px;}
.list-video-educa .container{padding-left: 10px;
padding-right: 10px; max-width: 1220px;}
.list-video-educa .row{margin-left: -10px; margin-right: -10px;}
.list-video-educa .row [class*="col-"]{padding-left: 10px; padding-right: 10px;}
.list-video-educa .row .wrap-item-blog-hot{
    flex: 0 0 70.81967213114754%;
    max-width: 70.81967213114754%;
}
.list-video-educa .row .wrap-list-right-item{
    flex: 0 0 29.18032786885246%;
    max-width: 29.18032786885246%;
}

.item-blog-small-1.item-video {
    padding: 10px 0;
    border-bottom: none;
}
.item-blog-small-1.item-video:last-child{
    padding-bottom: 0;
}
.item-blog-small-1.item-video .box-image {
    margin-right: 10px;
    min-width: 140px;
    width: 140px;
}

.item-blog-small-1.item-video .box-image-libary-image .icon-child {
    left: 5px;
    bottom: 4px;
}

  /*  */
  .banner-page{position: relative;}
  .banner-page img{width: 100%; max-height: 400px;}
  .title-page-main{
    margin-top: -50px;
    position: relative;
    z-index: 2;
  }
  .title-page-main .title{
    font-size: 20px;
    font-family: var(--font-bold);
    color: #FFF;
    background-color: var(--color-blue);
    display: inline-block;
    padding: 15px 20px 11px;
    text-transform: uppercase;
  }
  .wrap-title-page{
      display: flex;
      align-items: flex-start;
    }
    .wrap-title-page .title{
        margin-right: 5px;
        height: 50px;
        display: flex;
          align-items: center;
          justify-content: center;
    }
  .title-page-main .title-item{
      font-size: 16px;
      background-color: rgb(51, 51, 51, 0.2);transition: all .3s;
      line-height: 1.2;
    }
    .title-page-main .title-item a{
        text-transform: none;
        color: #FFF;transition: all .3s;
        line-height: 1.2;
    }
    .title-page-main .title-item.active,
    .title-page-main .title-item:hover{
        background-color: rgb(255, 255, 255, 0.5);
        transition: all .3s;
    }
    .title-page-main .title-item.active a,
    .title-page-main .title-item:hover a{color: var(--color-blue);transition: all .3s;}
      
  

  /*  */
  #banner-page-main{
    padding-top: 50px;
    padding-bottom: 75px;
  }
.tab-control-contact{
    font-family: var(--font-bold);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    border:none;
    padding-top: 20px;
}
.tab-control-contact .number-year{
    font-size: 30px;
    color: rgb(172, 172, 172);
    line-height: 1;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.tab-control-contact .nav-link.active .number-year,
.tab-control-contact .nav-link:hover .number-year{
    color: var(--color-blue);
}
.tab-control-contact.nav-tabs .nav-link{
    padding: 0;border:none
}
.tab-control-contact.nav-tabs .nav-link.active{
    border: none;
}
.tab-control-contact.nav-tabs .nav-item{
    width: 100%;
}
.tab-control-contact .line-history{
    background-color: rgb(0, 204, 204);
    height: 3px;
    width: 100%;
    position: relative;
}
.tab-control-contact .line-history::before{
    content: "";
    width: 22px;
    height: 22px;
    background-color: rgb(172, 172, 172);
    display: block;
    border-radius: 50%;
    border: 5px solid #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tab-control-contact.nav-tabs .nav-link:hover .line-history::before,
.tab-control-contact.nav-tabs .nav-link.active .line-history::before{
    background-color: var(--color-blue);
}
.tab-control-contact .nav-item:first-child,
.tab-control-contact .nav-item:last-child{
    width: max-content;
    min-width: max-content;
}
.tab-control-contact .title-history{
    font-size: 16px;
    color: var(--color-title);
    margin-top: 30px;
}

.wrap-content-contact-history{display: flex; border:1px solid var(--color-blue); border-radius: 10px; margin-top: 60px;}
.wrap-content-contact-history>div.box-image{
    flex: 0 0 48.33333333333333%;
    max-width: 48.33333333333333%;
}
.wrap-content-contact-history>div.content-history{
    flex: 0 0 51.66666666666667%;
    max-width: 51.66666666666667%;
}
.wrap-content-contact-history .box-image img{width: 100%;height: 100%; border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.wrap-content-contact-history .content-history .number-year{
    font-size: 20px;
    color: #FFF;
    padding: 7px 15px;
    background-color: var(--color-blue);
    display: inline-block;
    border-bottom-right-radius: 10px;
    margin-left: -1px;
}
.wrap-content-contact-history .content-history .content{
    padding: 15px 20px;
    font-size: 16px;
}
.wrap-content-contact-history .content-history .content>*:not(:last-child){margin-bottom: 20px;}

/*  */
.title-page.title-contact a {
    padding-bottom: 10px;
    font-size: 30px;
    font-family: var(--font-bold);
}
.title-page.title-contact a::before{
    width: 85px;
}

.description-detail-pro{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.description-detail-pro .box-image{
    border-radius: 50%;
    background-color: rgba(0, 204, 204, 0);
    box-shadow: 0px 0px 7.93px 5.07px rgba(0, 0, 0, 0.1);
    width: 280px;
    min-width: 280px;
    height: 280px;
    border: 10px solid #FFF;
    margin-right: 50px;
}
.description-detail-pro .box-image img{
    width: 100%;
}
.description-detail-pro .contents{
    font-size: 16px;
}
.description-detail-pro .contents .name{
    font-size: 22px;
    color: var(--color-title);
}
.description-detail-pro .contents .content-detail{
    margin-top: 30px;
    padding: 5px 30px 5px 25px;
    border-left: 4px solid var(--color-blue);
}

.list-item-member{
    margin-top: 75px;
    margin-bottom: -30px;
}
.list-item-member .item{
    text-align: center;
    margin-bottom: 30px;
}
.list-item-member .item .box-image{
    width: 100%;
    max-width: 250px;
    height: 250px;
    border:9px solid #FFF;
    border-radius: 50%;
    box-shadow: 0px 0px 7.93px 5.07px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 15px;
}

.list-item-member .item .contents{font-size: 16px;}
.list-item-member .item .contents .name{
    font-size: 18px; color: var(--color-title);
}

.wrap-vision-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.wrap-vision-box>div{
    flex: 0 0 50%;
    max-width: 50%;
}
.wrap-vision-box>div.text-content{
    background: url(../images/bg-contact-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.wrap-vision-box>div.box-image img{width: 100%;}

.wrap-vision-box>div.text-content .title-page a{
    padding-bottom: 8px;
    font-family: var(--font-bold);
    margin-bottom: 20px;
}
.wrap-vision-box>div.text-content .title-page a::before{
    width: 85px;
}
.wrap-vision-box>div.text-content .content-item-vision{
    font-size: 18px;
}

.wrap-content-main-contact-vision{
    font-size: 16px;
    background-color: rgb(232, 246, 246);
    padding: 105px 45px 35px;
}
.wrap-content-main-contact-vision strong{
    display: block;
}
.wrap-content-main-contact-vision>*:not(strong){
    margin-bottom: 15px;
}

.wrap-prize{margin-top: 30px; margin-bottom: -30px;}
  .item-blog-main .number-year{
    background-color: var(--color-blue);
    color: #FFF;
    border-radius: 5px;
    display: inline-block;
    padding: 9px 17px 7px;
    font-size: 20px;
    line-height: 1;
    margin: 15px auto 0;
  }

  .item-prize .box-image img{border-radius: 5px;}
  .item-blog-main.item-prize .title a{
    font-size: 16px;
    -webkit-line-clamp: 4;

  }
  .wrap-industry{
    padding: 30px 0;
    margin-bottom: 0;
  } 
.wrap-industry>.row>[class*="col-"]{
    border-right: 1px solid var(--color-blue);
}
.wrap-industry>.row>[class*="col-"]:last-child{
    border:none
}
.item-industry{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.item-industry .box-image img{
    width: max-content;
    height: auto;
}
  

/* login */
.wrap-login{
    width: 100%;
    height: 100vh;
    background:  url(../images/bg-c.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.wrap-login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 204 204 / 80%)
}
.box-550{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.wrap-login .box-550{
    position: relative;
}

.wrap-login .box-550 .login-main{
    overflow: hidden;
    background: url(../images/bg-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 23px 65px 65px;
    text-align: center;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
}
.wrap-login .box-550 .wrap-form .title-form{
    border-bottom: 3px solid #00bad1;
    padding-bottom: 20px;
}
.wrap-login .box-550 .wrap-form .title{
    font-size: 18px;
    font-family: var(--font-bold);
    color: #0a2141;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.wrap-form{width: 100%;}
.wrap-form .form-group{position: relative; margin-bottom: 20px;}
.wrap-form .form-group input{
    height: 45px;
    border-color: #00bad1;
    padding-left: 60px;
    border-radius: 5px;
}
.wrap-form .form-group input::placeholder{
    color: #0a2141;
}
.wrap-form .form-group .box-icon{
    width: 45px;
    background-color: #00bad15c;
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-login .box-550 .wrap-form .form-check{
    text-align: left;
    padding-left: 26px;
    font-size: 18px;
    color: rgb(153, 153, 153);
}
.wrap-login .box-550 .wrap-form .form-check-input{
    transform: scale(1.7);
} 
.wrap-form .btn-login{
    background: url(../images/bg-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 42px;
    font-size: 18px;
    font-family: var(--font-bold);
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 25px;
    transition: all .3s;
}
.wrap-form .btn-login:hover{
    transition: all .3s;
    background: var(--color-blue);
}

.wrap-content-modal{
    background: transparent;
    width: auto;
    height: max-content;
}
.wrap-login.wrap-content-modal::before{
display: none;
}
.wrap-login.wrap-content-modal .box-550 .login-main{
    background-image: url(../images/bg-modal.png);
}
.wrap-login.wrap-content-modal .box-550 .wrap-form .title-form{
    padding-top: 5px;
    margin-bottom: 20px;
}
.wrap-login.wrap-content-modal .box-550 .wrap-form .notyfi{
    font-size: 15px;
    margin-bottom: 20px;
}
.wrap-login.wrap-content-modal .box-550 .wrap-form .btn-login{
    background: rgb(0, 204, 204);
    
}
.wrap-login.wrap-content-modal .box-550 .wrap-form .btn-login:hover{
    background: rgb(1 108 108);
}
.wrap-content-modal.modal-content .close{
    position: absolute;
    right: 15px;
    top: 5px;
}
.wrap-account{margin-top: 35px;}
.wrap-account{display: flex; justify-content: space-between; align-items: center;}
.wrap-account .box-image-left{
    width: 170px;
    min-width: 170px;
    margin-right: 20px;
}
.wrap-account .form-group{margin-bottom: 10px;}
.wrap-account .form-input-right{
    width: 100%;
    max-width: 420px;
}
.wrap-account .btn-login{
    background: var(--color-blue);
}
.wrap-account .btn-login:hover{
    background: rgb(1 108 108);
}

/* choose image */
.wrap-form .drop-file{ padding: 0;width: 100%; margin: 20px auto 0 auto; border-radius: 10px; position: relative; cursor: pointer;}
.wrap-form .drop-file .invalid-feedback{position: absolute; bottom: 10px; left: 10px; z-index: 9;}
.wrap-form .drop-file .drop-image{font-size: 16px; text-align: center; margin-top: 15px;}
.wrap-form .drop-file .drop-image .b-drop{color: var(--color-title); position: relative; z-index: 9; text-align: center;}
.wrap-form .drop-file .drop-image img{margin-right: 15px;}
.wrap-form .drop-file .drop-image span{cursor: pointer;}
.wrap-form .drop-file .drop-image .select_file img{margin: 0;}
.wrap-form .drop-file input.file-upload{position: absolute; top: 0; left: 0; right: 0; bottom: 0;cursor: pointer; height: 100% !important; width: 100%; opacity: 0; z-index: 10;}
.wrap-form .drop-file .preview{height: 170px; width: 170px; cursor: pointer; z-index: 1;border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.wrap-form .drop-file .fill.active{display: block;border-radius: 10px;}
.wrap-form .drop-file .fill{background-color: black; opacity: 36%; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 9; display: none;}
.wrap-form .drop-file .b-drop button{margin: 0 0 0 10px; border: 1px solid #43AFFF; color: #43AFFF; text-decoration: underline; display: inline; }


/*  */
.box-tabs-list{
    border-top: 2px solid var(--color-blue);
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-tabs-list a{
    text-transform: uppercase;
    padding: 15px 22px 11px;
}
.item-blog-main.big .title{margin-top: 15px;}
.item-blog-main.big .title a{
    font-size: 22px;
}
.item-blog-main.big .content{font-size: 16px;
margin-top: 10px;
width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.wrap-list-item-blog-main{
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-top: 30px;
}
.wrap-list-item-blog-main .item-blog-main{margin-bottom: 25px;}
#banner-page-main.wrap-blog-main{padding-bottom: 30px;}
  

/*  */
.list-blog-1 .item-blog-2{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
}
.item-blog-2 .content-blog .title a{
    color: var(--color-title);
}
.list-blog-1 .item-blog-2:first-child {
    padding-top: 0;
}
.item-blog-2 .box-image {
    width: 292px;
    min-width: 292px;
}
.item-blog-2 .content-blog {
    margin-left: 20px;
}

.item-blog-2 .content-blog .title {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;
}

.item-blog-2 .content-blog .title a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.333;
}

.item-blog-2 .content-blog .content-hot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.333;
}
.content-blog .date-post {
    display: flex;
    align-items: center;
    color: rgb(153, 153, 153);
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
    padding-top: 5px;
}
.content-blog .date-post img {
    min-width: max-content;
    width: max-content;
    margin-right: 5px;
    margin-top: -5px;
}
/*  */
.box-title-main .title-content{
    margin-bottom: 15px;
    margin-top: 10px;
}
.box-title-main .title-content h1,
.box-title-main .title-content h2,
.box-title-main .title-content h3,
.box-title-main .title-content h4,
.box-title-main .title-content h5{
    font-size: 18px;
    font-family: var(--font-bold);
    color: var(--color-main);
}
.box-title-main .title-content p{
    font-size: 17px;
}
.wrap-blog-detail-main{
    font-size: 16px;
} 
.wrap-blog-detail-main *:not(table, table *){
    line-height: 1.5;
    margin-bottom: 20px;
    display: block;
}
.wrap-blog-detail-main p{
    text-align: justify;
    color: var(--color-text);
}


.wrap-blog-detail-main img{
    max-width: 100%!important;
    height: auto!important;
    margin: 10px auto;
    display: block;
}
.wrap-blog-detail-main ul,
.wrap-blog-detail-main ol{
    padding: 10px 0 0;
}
.wrap-blog-detail-main ul li,
.wrap-blog-detail-main ol li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}
.wrap-blog-detail-main ul li::before,
.wrap-blog-detail-main ol li::before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--color-text);
    position: absolute;
    left: 0;
    top: 9px;
}
.wrap-blog-detail-main iframe{
    max-width: 100%!important;
}
.wrap-blog-detail-main table td{
    padding: 10px;
}
  

/* .wrap-box-list-orther */

.wrap-box-list-orther{
    margin-top: 35px;
}
.wrap-box-list-orther .box-title-section{
    margin-bottom: 13px;
}
.wrap-box-list-orther .box-title-section .title-section{
    font-size: 22px;
    color: var(--color-title);
    margin-bottom: 0;
    /* text-transform: uppercase; */
}
.box-title-section .view-more i {
    margin-bottom: -2px;
    margin-left: 5px;
}
.box-title-section .view-more:hover{
    color: var(--color-red);
}
.box-title-section{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.box-title-section .view-more{
    color: rgb(153, 153, 153);
    display: flex;
    align-items: center;
}
/*  */

.wrap-comments{padding-top: 20px;}
.wrap-comments .title-comments{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.wrap-comments .title-comments .font-bold{
    font-size: 22px;
    color: var(--color-blue);
}
.box-comment-main{
    padding: 20px 30px 30px;
    border-radius: 5px;
    background-color: rgb(239, 244, 252);
}
.box-comment-main .wrap-form{
    padding-bottom: 30px;
}
.box-comment-main .wrap-form .form-group{margin-bottom: 15px;}
.box-comment-main .wrap-form .form-control{
    border-color: rgb(162, 176, 199);
    
}
.box-comment-main .wrap-form label{font-size: 16px; color: var(--color-title); margin-bottom: 1px;}
.box-comment-main .wrap-form .wrap-button{
    display: flex;
    align-items: center;
}
.box-comment-main .wrap-form .wrap-button .btn{
    height: 44px;
    display: inline-flex;
    background-color: var(--color-blue);
    color: #FFF;
    font-size: 18px;
    padding: 0 25px;
    align-items: center;
    font-family: var(--font-bold);
    padding-top: 3px;
    margin-left: 0;
}
.box-comment-main .wrap-form .wrap-button .btn:hover{background-color: #048b8b;}
.box-comment-main .wrap-form .wrap-button .ex{
    font-size: 15px;
    margin-left: 20px;
}
.box-list-comment .item-comment{
    padding: 15px 0;
    font-size: 16px;
    border-top: 1px solid var(--color-border);
}
.box-list-comment .item-comment .title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.box-list-comment .item-comment .name{
    color: var(--color-title);
    margin-right: 20px;
}
.box-list-comment .item-comment .date{
    color: #666666;
}
.wrap-list-libary-main .item-box-libary .title a{
    font-size: 16px;
}
.wrap-list-libary-main .item-box-libary .title{
    margin-bottom: 10px;
}
  

/* libary detail zoom */
/*  */
.wrap-image-detail-fancybox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px!important;
}

.wrap-image-detail-fancybox a[class*="col-"] {
    width: 100%;
    margin-bottom: 30px;
}

.wrap-image-detail-fancybox a>div {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 5px;
    margin: 0;
}

.wrap-image-detail-fancybox a img {
    width: 100%;
    margin: 0;
}

.wrap-image-detail-fancybox a div .icon-plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.wrap-image-detail-fancybox a div .icon-plus img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    margin: 0;
    transition: all .4s;
}

.wrap-image-detail-fancybox a div:hover .icon-plus {
    background-color: rgb(0 204 204 / 51%);
}

.wrap-image-detail-fancybox a div:hover .icon-plus img {
    opacity: 1;
    visibility: visible
}
  
.video-page-main-top{
    padding-bottom: 30px!important;
}
.active-video{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    cursor: pointer;
}
.active-video.item-libary-main-hot .content{
    background: transparent;
}
.modal-video-dialog{
    margin-top: auto;
}


/* tools   */
.wrap-tool{
    padding-bottom: 40px;
}
.wrap-list-tool [class*="col-"]{
    margin-bottom: 20px;
}
.item-tool{
 display: flex;
 align-items: flex-start;
 height: 100%;
 /* margin-bottom: 15px; */
}
.item-tool .box-image{
 min-width: 150px;
 height: 100px;
 overflow: hidden;
 border-radius: 5px;
 margin-right: 15px;
}
.item-tool .box-content-tool .title{
    font-size: 16px;
}
.item-tool .box-content-tool .title a{
 font-family: var(--font-bold);
 color: var(--color-text);
 margin-bottom: 15px;
 line-height: 1.375;
 display: -webkit-box;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 transition: all .3s;
 min-height: 44px;
}
.item-tool .box-content-tool .download-file{
 font-size: 15px;
 display: flex;
 align-items: center;
 color: var(--color-blue);
 margin-top: 10px;
}
.item-tool .box-content-tool .download-file span{
    font-size: 15px;
    display: inline-block;
    margin: 0;
    margin-right: 8px;
}
.item-tool .box-content-tool .download-file img{margin-top: -4px;}

.download-file-tool{
    border-radius: 5px;
    background-color: var(--color-blue);
    color: #FFF;
    font-family: var(--font-bold);
    font-size: 16px;
    min-width: 185px;
    display: flex!important;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    margin-top: 15px;
}
.download-file-tool span{
    margin:0;
    margin-right: 5px;
}
.download-file-tool:hover *,
.download-file-tool:hover{
    color: #FFF!important;

}
.download-file-tool:hover{
    background-color: rgb(6 106 106);
}
.download-file-tool>*,
.download-file-tool i{
    margin-bottom: 0;
}
/*  */

.form-search-tool{
    width: 100%;
    max-width: 290px;
    position: relative;
}
.form-search-tool .form-control{
    width: 100%;
    height: 36px;
    border-radius: 2px;
    border-color: #dedede;
    color: rgb(102, 102, 102);
    padding: 0 30px 0 10px;
}
.form-search-tool a{
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .wrap-tool-detail-main{
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
  }

  /* 404 */

section#page-404 {
    background-image: url(../images/bg-404.png);
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;
}
section#page-404::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02a7a7ba;
}
section#page-404 .container {
    text-align: center;
    position: relative;
    z-index: 1;
}


section#page-404 p{
    font-size: 18px;
    color:#fff;
}
section#page-404 .title-page-404 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: #FFF;
    font-family: var(--font-normal);
}

section#page-404 .wrap-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#page-404 .wrap-button .btn{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 7px;
    color: #FFF;
    background-color: rgb(0, 204, 204);
    border: 1px solid rgb(0, 204, 204);
}

  
section#page-404 .wrap-button .btn i{
    font-size: 20px;
    margin-left: 10px;
}
section#page-404 .wrap-button .btn:hover i{
    color: #FFF!important;
}
section#page-404 .wrap-button .btn-color-blue{
    border:1px solid rgb(0, 204, 204);
    transition: all .4s;
    color: #FFF;
    /* background-color: transparent; */
    background-color: rgba(127, 187, 248, 0);
}
section#page-404 .wrap-button .btn-color-blue:hover{
    background-color: var(--color-blue);
}
.Rectangle_37_copy {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 204, 204);
    position: absolute;
    left: 948px;
    top: 616px;
    width: 264px;
    height: 46px;
    z-index: 7;
  }
  .wrap-right-main{
    position: sticky;
    top: 85px;
  }

  /*  */
  @keyframes moreslide {
    0%,100%{
        transform: translateX(0);
    }

    50% {
        transform: translateX(15px);
    }

  }
  .wrap-icon-control{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-calc(50% - 25px));
    z-index: 1;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(0, 204, 204);
    -webkit-animation: moreslide 1s ease-in-out infinite;
    -moz-animation: moreslide 1s ease-in-out infinite;
    -ms-animation: moreslide 1s ease-in-out infinite;
    -o-animation: moreslide 1s ease-in-out infinite;
    animation: moreslide 1s ease-in-out infinite;
    animation-delay: 0s;
    z-index: 1;
}
.wrap-icon-control:before{
    content: "\f101";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 50%;
    display: block;
    font-size: 24px;
    transform: translateY(-50%);
    line-height: 1;
    color: rgb(0, 204, 204);
    margin-top: 1px;
    margin-left: 3px;
    display: block;
}

  